<h2>These are the places:</h2>
<ul>
  <% places.forEach(function(place, index) { %>
    <li><%= place.content %> - <%= place._id %> –
      <a href="/places/<%= place._id %>">Go to</a> |
      <a href="/places/<%= place._id %>/edit">Edit</a> |
      <a href="/places/<%= place._id %>/destroy">Destroy</a>
    </li>
  <% }); %>
</ul>
