<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <%- include('_scripts') %>
  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('_send_link') %>
    <%- include('_places_list') %>
    <%- include('_edit_form') %>
    <%- include('_graph') %>
  </body>
</html>
