<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="play">
      <p id="content">
        <%= place.content %>
      </p>

      <% checkedActions.forEach(function(action, index) { %>
        <p><a href="/places/<%= action.link %>"><%= action.body %></a></p>
      <% }); %>

      <% if (isEditable) { %>
        <p id="redesign">You can always
          <a href="/places/<%= place._id %>/edit">redesign this place</a>.
        </p>
      <% } %>

    </div>

    <%- include('../_ga') %>
  </body>
</html>
