<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/place.css' />
  </head>
  <body>
    <p class="content">
      <%= place.content %>
    </p>

    <% checkedActions.forEach(function(action, index) { %>
      <p class="choice"><a href="/places/<%= action.link %>"><%= action.body %></a></p>
    <% }); %>

    <% if (isEditable) { %>
      <p class="redesign">
        <a href="/places/<%= place._id %>/edit">Redesign this place</a>.
      </p>
    <% } %>
  </body>
</html>
