<h2>Create place</h2>
<% if (err) { %>
  <p><%= err %></p>
<% } %>

<form action="/places/create" method="post">
  <label>Content:</label>
  <input type="text" name="content" value="<%= place.content %>" /><br /><br />
  <% for (i = 0; i < 4; i++) { %>
    <label>Action <%= i+1 %>:</label>
    <input type="text" name="actions[<%= i %>][body]"
      value="<%= place.actions[i] && place.actions[i].body %>" /><br />
    <label>Link <%= i+1 %>:</label>
    <input type="text" name="actions[<%= i %>][link]"
      value="<%= place.actions[i] && place.actions[i].link %>" /><br /><br />
  <% } %>

  <input type="Submit" value="Submit" />
</form>
