<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/javascripts/dagre.min.js"></script>
    <script src="/javascripts/cytoscape.min.js"></script>
    <script src="/javascripts/cytoscape-dagre.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <%- include('_places_list') %>
    <%- include('_create_form') %>
    <%- include('_graph') %>
  </body>
</html>
