<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="play">
      <p id="content">
        <%= place.content %>
      </p>

      <% if (place.actions.length > 0) { %>
      <% place.actions.forEach(function(action, index) { %>
        <p><a href="/places/<%= action.link %>"><%= action.body %></a></p>
      <% }); %>
      <% } else { %>
        <p>The end. Try to <a href="/places/<%= place._id %>/edit">redesign</a> this place.</p>
      <% } %>
    </div>
  </body>
</html>
